@model IList<AzureVideoStreaming.Model.Video>
@{
    ViewBag.Title = "Index";
}

<h2>Latest videos</h2>
<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Thumbnail</td>
                <td>Video</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Details", "Home", new { videoId = video.RowKey })"><img src="@video.ThumbnailUrl" style="width: 30px; height: 30px;" /></a></td>
                    <td>@video.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>