@model IList<AzureVideoStreaming.Model.Video>
@{
    ViewBag.Title = "Index";
}

<h2>Latest videos</h2>
<div>
    @foreach (var video in Model)
    {
        <div style="height: 130px; float: left;">
            <div style="width: 120px; height: 120px; margin: 10px;">
                <div><a href="@Url.Action("Details", "Home", new { videoId = video.RowKey })"><img src="@video.ThumbnailUrl" style="width: 120px; max-height: 120px;" /></a></div>
            </div>
            <div>
                <h4>@video.Title</h4>
            </div>
        </div>
    }
</div>