@model AzureVideoStreaming.Model.Video

<!DOCTYPE html>

<html>
    <head>
        <title>@Model.Title</title>
    </head>
    <body>
        <div>
              @Model.Title - @Model.Description
        </div>
    </body>
</html>