<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=windaysazurechallenge;AccountKey=9kKSoqwot1r3nRrdyoaTBmfrKwRnAPSoogvlQbT/rp4+kOnVo9YHBtRZ23NDdFo0Cd2cBXng1lCn9PnJlMT3fg==" />
    <add key="accountName" value="azurevideostreaming" />
    <add key="accountKey" value="HOaZEbf9kgPWU/gspNIyTkWZsyveUpPgTI10CbdPZtg=" />
  </appSettings>
    
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.1" newVersion="3.1.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>